* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.logo {
  width: 200px;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}
nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav ul li a:hover {
  color: maroon;
  text-decoration: underline;
}
.detel {
  margin-left: 8%;
  margin-top: 10%;
}
.detel h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}
span {
  color: maroon;
}
.detel p {
  color: #555;
  line-height: 22px;
}
.detel a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.detel a:hover {
  background-color: maroon;
}
.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
  border-radius: 1000px;
}
.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  transition: bottom 1s, left 1s;
  border-radius: 1000px;
}
.shape {
  width: 600px;
}
.images:hover .shape {
  bottom: 20px;
}
.images:hover .girl {
  left: 45%;
}
.wrapper {
  margin-left: 90px;
  display: grid;
  height: 100;
  width: 100;
  place-items: center;
  /* background: linear-gradient(315deg, #ffff, #d7e1ec); */
  display: inline-flex;
}
.wrapper .icon {
  margin: 0 20px;
  cursor: pointer;
}
.wrapper .icon span {
  height: 60px;
  width: 60px;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .icon span i {
  font-size: 25px;
  line-height: 60px;
}
.wrapper .icon:hover {
  opacity: 0.7;
  transition: 0.1s;
}
